*{
  /* background-image: url("bg.jpg"); */
  background-color: rgb(6, 6, 91);
}
.App{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 90vw;
}
h4 ,.status{
  color: white;
  position: absolute;
  top: 50px;
  font-size: 40px;

}
.status{
  top: 150px;
}

.board{
  display: flex;
  
}
.square{
  color: white;
  width: 40px;
  height:40px;
  font-size: 30px;
  border: 2px solid yellow;
  display: flex;
  justify-content: center;
  align-items: center;

}