*{
  margin: 0;
  padding: 0;
}
.App{
  background-image: url("bg.jpg");
  /* background-color: rgb(6, 6, 91); */
}
.outline{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
h4 ,.status{
  color: black;
  position: absolute;
  top: 50px;
  font-size: 40px;

}
.status{
  top: 150px;
}

.board{
  display: flex;
  
}
.square{
  color: white;
  background-color: rgb(255, 0, 0);
  width: 40px;
  height:40px;
  font-size: 30px;
  border: 2px solid rgb(0, 255, 98);
  display: flex;
  justify-content: center;
  align-items: center;
}
.reset{
  background-color: yellow;
  color: black;
  border-radius: 10px;
  height: 30px;
  width: 90px;
  margin: 10%;

  
}
